.btn {
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 60px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    scale: 2;
    box-shadow: 1px 2px 8px #00000038;
    /* transition: transform 0.3s ease-in 0s; */
}

.btn-github {
    text-transform: none;
    background-color: var(--grey);
}

.btn-red {
    background-color: #d8414e;
}
