.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
    width: 85%;
    margin: 0 auto;
    flex: 0 1 auto;
    flex-flow: wrap;
    margin-bottom: 80px;
}

.card-section-title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 60px 0;
    border-radius: 10px 10px 0 0;
}

.challenge-card {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--grey-blue);
}

.challenge-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.challenge-card-link {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 16px;
}

.challenge-card-premium-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--blue);
    color: #fff;
    padding: 4px 12px;
    border-radius: 50px;
}

.challenge-card-new-badge-wrapper {
    display: flex;
    position: absolute;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-size: 14px;
    top: 10px;
    right: 110px;
    background-color: var(--red);
    color: #fff;
    border-radius: 50px;
}

.challenge-card-new-badge {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.badge-asterix {
    font-size: 20px;
    color: #fff;
}

.challenge-card-free-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    color: var(--blue);
    padding: 4px 12px;
    border-radius: 50px;
}

.challenge-card-details {
    padding: 16px;
}

.challenge-card-difficulty {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.challenge-card-languages {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.card-level-wrapper-newbie {
    display: flex;
    border: 1px solid var(--cyan);
    border-radius: 4px;
}

.card-level-wrapper-junior {
    display: flex;
    border: 1px solid var(--green);
    border-radius: 4px;
}

.card-level-wrapper-guru {
    display: flex;
    border: 1px solid var(--red);
    border-radius: 4px;
}

.challenge-card-level-newbie {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 6px;
    border: 1px solid transparent;
    border-radius: 16px;
    color: var(--cyan);
}

.challenge-card-level-junior {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 6px;
    border: 1px solid transparent;
    border-radius: 16px;
    color: var(--green);
}

.challenge-card-level-guru {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 6px;
    border: 1px solid transparent;
    border-radius: 16px;
    color: var(--red);
}

.challenge-card-level-one {
    padding: 0 6px;
    color: #fff;
    background-color: var(--cyan);
}

.challenge-card-level-two {
    padding: 0 6px;
    color: #fff;
    background-color: var(--green);
}

.challenge-card-level-five {
    padding: 0 6px;
    color: #fff;
    background-color: var(--red);
}

.challenge-card-text {
    color: var(--light-grey);
}
