.footer-section {
    background-color: #fff;
}

.footer-img {
    width: 240px;
    padding: 40px 0;
}

.post-footer {
    background-color: #fff;
    border-top: 0.5px solid var(--grey-blue);
}

.footer-social {
    color: var(--cyan);
}

.post-footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    word-spacing: 0.2em;
}

.footer-legal {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
