/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700&display=swap');

/* Components */
@import 'components/button.css';
@import 'components/navbar.css';
@import 'components/banner.css';

:root {
    --grey: #1c2022;
    --blue: #3f54a3;
    --red: #ed2c49;
    --cyan: #69becd;
    --green: #aad741;
    --pink: #cf6390;
    --light-blue-trim: #cad5d6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--grey);
    font-family: 'Heebo', sans-serif;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

ul {
    list-style: none;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

header {
    padding-bottom: 80px;
}
